* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Lobster Two", cursive; */
/* font-family: "Righteous", cursive; */

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 92, 128);
}

.player {
  font-family: "Lobster Two", cursive;
  color: lightgray;
  margin-bottom: 100px;
  font-size: 80px;
}

.game-board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  background-color: rgb(150, 150, 150);
  border-radius: 10px;
  box-shadow: 2px 2px 15px lightgray;
}

.board-cell {
  font-family: "Righteous", cursive;
  font-size: 100px;
  color: lightgray;
  text-align: center;
  cursor: pointer;
  background-color: rgb(33, 63, 87);
  border-radius: 5px;
}

.gameOver {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.gameOverElements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.gameOverMessage {
  font-family: "Righteous", cursive;
  font-size: 60px;
  color: lightgray;
}

.restart {
  font-family: "Righteous", cursive;
  color: lightgray;
  padding: 10px 40px;
  font-size: 25px;
  background-color: rgb(49, 92, 128);
  border: 1px solid lightgray;
}

.hidden {
  display: none;
}
